/**
  * @name GlassCord+ 3.0
  * @author 7nfy
  * @version 3.0
  * @description Discord now will look more clear
  * @authorId 969780652704694293
  * @source https://raw.githubusercontent.com/5bra3mk/5bra3mk.github.io/refs/heads/main/GlassCord.css
  * @invite pGQUymwZcf
*/

/**
 ██████╗ ██╗      █████╗ ███████╗███████╗ ██████╗ ██████╗ ██████╗ ██████╗
██╔════╝ ██║     ██╔══██╗██╔════╝██╔════╝██╔════╝██╔═══██╗██╔══██╗██╔══██╗
██║  ███╗██║     ███████║███████╗███████╗██║     ██║   ██║██████╔╝██║  ██║
██║   ██║██║     ██╔══██║╚════██║╚════██║██║     ██║   ██║██╔══██╗██║  ██║
╚██████╔╝███████╗██║  ██║███████║███████║╚██████╗╚██████╔╝██║  ██║██████╔╝
 ╚═════╝ ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝

██████╗ ██╗   ██╗    ███████╗███╗   ██╗███████╗██╗   ██╗
██╔══██╗╚██╗ ██╔╝    ╚════██║████╗  ██║██╔════╝╚██╗ ██╔╝
██████╔╝ ╚████╔╝         ██╔╝██╔██╗ ██║█████╗   ╚████╔╝
██╔══██╗  ╚██╔╝         ██╔╝ ██║╚██╗██║██╔══╝    ╚██╔╝
██████╔╝   ██║          ██║  ██║ ╚████║██║        ██║
╚═════╝    ╚═╝          ╚═╝  ╚═╝  ╚═══╝╚═╝        ╚═╝



                      :::!~!!!!!:.
                .xUHWH!! !!?M88WHX:.
                .X*#M@$!!  !X!M$$$$$$WWx:.
            :!!!!!!?H! :!$!$$$$$$$$$$8X:
            !!~  ~:~!! :~!$!#$$$$$$$$$$8X:
            :!~::!H!<   ~.U$X!?R$$$$$$$$MM!
            ~!~!!!!~~ .:XW$$$U!!?$$$$$$RMM!
            !:~~~ .:!M"T#$$$$WX??#MRRMMM!
            ~?WuxiW*`   `"#$$$$8!!!!??!!!
            :X- M$$$$       `"T#$T~!8$WUXU~
            :%`  ~#$$$m:        ~!~ ?$$$$$$
        :!`.-   ~T$$$$8xx.  .xWW- ~""##*"
.....   -~~:<` !    ~?T#$$@@W@*?$$      /`
W$@@M!!! .!~~ !!     .:XUW$W!~ `"~:    :
#"~~`.:x%`!!  !H:   !WM$$$$Ti.: .!WUn+!`
:::~:!!`:X~ .: ?H.!u "$$$B$$$!W:U!T$$M~
.~~   :X@!.-~   ?@WTWo("*$$$W$TH$! `
Wi.~!X$?!-~    : ?$$$B$Wu("**$RM!
$R@i.~~ !     :   ~$$$$$B$$en:``
?MXT@Wx.~    :     ~"##*$$$$M~

*/
:root {
    --theme-background-image: url(https://i.imgur.com/TONTOI1.gif);
    --home-icon-image: url(https://i.pinimg.com/1200x/22/a2/eb/22a2eba036fa79f237b90078f06cf163.jpg);
    --theme-transparency: rgba(0, 0, 0, 0.5);
    --home-icon-image-position: center;
    --home-icon-image-zoom: 150%;
    --message-box-transparency: rgba(0, 0, 0, 0);
    --unread-server-animation: rainbow;
}
body::after {
  content: "By ✪ 7 и F λ ✪";
  position: fixed;
  top: 2.5px;
  left: 85px;
  font-size: 25px;
  font-weight: bold;
  color: #ffffff;
  pointer-events: none;
  z-index: 9999;
}


[class*="appMount"],
[class*="app_"],
[class*="wrapper_"],
[class*="chat"],
[class*="layer_"],
[class*="contentRegion"],
[class*="privateChannels"],
[class*="container_"],
[class*="nowPlayingColumn_"],
[class*="callContainer"],
[class*="standardSidebarView_"],
[class*="root_"],
[class*="shop_"],
[class*="page"],
[class*="scroller"] {
  background: 0 0;
}

[class*="appMount"] {
  background-image: var(--theme-background-image);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
[class*="bg_"] {
  background: var(--theme-transparency);
}

[class*="pill"] {
  width: 100% !important;
}

[class*="item"][class*="unread"] {
  animation: var(--unread-server-animation) 3s linear infinite;
  border: 2px solid var(--main-theme-color);
  background: transparent;
  border-radius: 30%;
}

[class*="childWrapper"] svg {
  display: none;
}

[class*="childWrapper"],
[class*="NoHoverBg"]
{
  background-image: var(--home-icon-image);
  background-size: var(--home-icon-image-zoom);
  background-position: var(--home-icon-image-position);
  background-repeat: no-repeat;
}

[class*="panels"],
[class*="panel_"],
[class*="activityPanel_"],
[class*="themedBackground_"],
[class*="padding-size-sm_"],
[class*="buttonSection_"],
[class*="tooltip_"],
[class*="tierBottomMargin"],
[class*="tierBody"],
[class*="tierHeader"],
[class*="tableHeader"],
[class*="tableBody"],
[class*="soundTable"],
[class*="tableHeaders_"],
[class*="joinOption"],
[class*="auditLog_"],
[class*="safetyChecklist"],
[class*="outer_"],
[class*="profile__9c3be"],
[class*="animatorRight"],
[class*="developerPortalCtaWrapper_"],
[class*="modalContent_"],
[class*="scrollbarDefault_"],
[class*="vc-gp-root"],
[class*="sidebarList_"],
[class*="md_"],
[class*="picker_"],
[class*="brandRefresh_"],
[class*="selectDropdown_"],
[class*="selectField_"],
[class*="spacingLarge"],
[class*="previewListItem"],
[class*="channelTextArea_"]
 {
  background-color: rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(5px);
}

[class*="menu"]
{
  background-color: rgba(0, 0, 0, 0.5);
}
[class*="cont"],
[class*="soundButton_"],
[class*="tabBody_"],
[class*="title_"][class*="themed_"] 
 {
  background: transparent !important;
 }

[class*="Revealer_"]
 {
  filter: blur(5px);
}

[class*="Revealer_"]:hover 
{
  filter: blur(0px);
}
