/**
  * @name GlassCord
  * @author 7nfy
  * @version GlassCord+2
  * @description Simple Glassy Theme by @5bra
  * @authorId 969780652704694293
  * @source https://raw.githubusercontent.com/5bra3mk/5bra3mk.github.io/refs/heads/main/GlassCord.css
  * @invite pGQUymwZcf
*/

/**
 ██████╗ ██╗      █████╗ ███████╗███████╗ ██████╗ ██████╗ ██████╗ ██████╗
██╔════╝ ██║     ██╔══██╗██╔════╝██╔════╝██╔════╝██╔═══██╗██╔══██╗██╔══██╗
██║  ███╗██║     ███████║███████╗███████╗██║     ██║   ██║██████╔╝██║  ██║
██║   ██║██║     ██╔══██║╚════██║╚════██║██║     ██║   ██║██╔══██╗██║  ██║
╚██████╔╝███████╗██║  ██║███████║███████║╚██████╗╚██████╔╝██║  ██║██████╔╝
 ╚═════╝ ╚══════╝╚═╝  ╚═╝╚══════╝╚══════╝ ╚═════╝ ╚═════╝ ╚═╝  ╚═╝╚═════╝

██████╗ ██╗   ██╗    ███████╗███╗   ██╗███████╗██╗   ██╗
██╔══██╗╚██╗ ██╔╝    ╚════██║████╗  ██║██╔════╝╚██╗ ██╔╝
██████╔╝ ╚████╔╝         ██╔╝██╔██╗ ██║█████╗   ╚████╔╝
██╔══██╗  ╚██╔╝         ██╔╝ ██║╚██╗██║██╔══╝    ╚██╔╝
██████╔╝   ██║          ██║  ██║ ╚████║██║        ██║
╚═════╝    ╚═╝          ╚═╝  ╚═╝  ╚═══╝╚═╝        ╚═╝



                      :::!~!!!!!:.
                .xUHWH!! !!?M88WHX:.
                .X*#M@$!!  !X!M$$$$$$WWx:.
            :!!!!!!?H! :!$!$$$$$$$$$$8X:
            !!~  ~:~!! :~!$!#$$$$$$$$$$8X:
            :!~::!H!<   ~.U$X!?R$$$$$$$$MM!
            ~!~!!!!~~ .:XW$$$U!!?$$$$$$RMM!
            !:~~~ .:!M"T#$$$$WX??#MRRMMM!
            ~?WuxiW*`   `"#$$$$8!!!!??!!!
            :X- M$$$$       `"T#$T~!8$WUXU~
            :%`  ~#$$$m:        ~!~ ?$$$$$$
        :!`.-   ~T$$$$8xx.  .xWW- ~""##*"
.....   -~~:<` !    ~?T#$$@@W@*?$$      /`
W$@@M!!! .!~~ !!     .:XUW$W!~ `"~:    :
#"~~`.:x%`!!  !H:   !WM$$$$Ti.: .!WUn+!`
:::~:!!`:X~ .: ?H.!u "$$$B$$$!W:U!T$$M~
.~~   :X@!.-~   ?@WTWo("*$$$W$TH$! `
Wi.~!X$?!-~    : ?$$$B$Wu("**$RM!
$R@i.~~ !     :   ~$$$$$B$$en:``
?MXT@Wx.~    :     ~"##*$$$$M~

*/

:root {
    --theme-background-image: url(https://cdn.discordapp.com/attachments/1380978355280810036/1436533640640204821/icon.7nfy.png?ex=690ff3b5&is=690ea235&hm=b05bf281138e17c73a0c67d8bcf8adb38cf0ec7e66386f9185af32bb47ce623e&);
    --theme-background-position: center;
    --home-icon-image: url(https://cdn.discordapp.com/attachments/1380978355280810036/1436533572184838184/3a376722810dcfd3e8dfcb5fdcc962ee.png?ex=690ff3a5&is=690ea225&hm=2665c06e6b6c345f001505d606ed3806c8b3759e0b1e41d2e2bb4f68169f1ae6&);
    --theme-transparency: rgba(0, 0, 0, 0.8);
    --home-icon-image-position: center;
    --home-icon-image-zoom: cover;
    --unread-server-animation: rainbow;
    --video-screen-button-background-color: rgba(200, 200, 200, 0.2);
    --video-screen-button-foreground-color: white;
    --video-screen-button-background-hovor-color: rgba(200, 200, 200, 0.4);
    --video-screen-button-foreground-hovor-color: white;
    --small-user-popout-background-image: transparent;
    --small-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
    --small-user-popout-background-image-position: center;
    --big-user-popout-background-image: transparent;
    --big-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
    --big-user-popout-background-image-position: center;
    --code-markup-background-color: rgba(0, 0, 0, 0.6);
    --code-markup-border: 1px solid transparent;
    --message-box-transparency: rgba(0, 0, 0, 0.6);
    --embed-background-transparency: rgba(0, 0, 0, 0.6);
    --message-hover-buttons-background: rgba(200, 200, 200, 0.1);
    --context-menu-transparency: rgba(15, 15, 15, 0.8);
    --add-discover-icon-transparency: rgba(200, 200, 200, 0.15);
    --add-discover-icon-color: #43b581;
    --channel-limit-count-color: var(--channels-default);
    --channel-limit-background-left: rgba(200, 200, 200, 0.1);
    --channel-limit-background-right: rgba(200, 200, 200, 0.2);
    --scrollbar-color: rgba(200, 200, 200, 0.2);
    --unread-message-divider-color: #f04747;
    --unread-message-divider-font-color: #fff;
    --new-messages-bar-background-color: #7289da;
    --new-messages-bar-font-color: #fff;
    --emoji-menu-background-color: rgba(0, 0, 0, 0.6);
    --emoji-menu-sider-background-color: rgba(0, 0, 0, 0);
    --emoji-menu-server-header-background-color: rgba(0, 0, 0, 0.8);
    --emoji-menu-bottom-bar-background-color: black;
    --emoji-menu-search-bar-background-color: rgba(200, 200, 200, 0.1);
    --message-search-menu-background-color: rgba(0, 0, 0, 0.8);
    --message-search-container-background-color: rgba(0, 0, 0, 0.6);
    --message-search-result-background-color: rgba(200, 200, 200, 0.05);
    --text-voice-channel-color: rgb(142, 146, 151);
    --text-voice-channel-hover-color: #dcddde;
    --text-voice-channel-selected-text-color: #fff;
    --unread-text-channel-color: #fff;
    --folder-background-color: #2f3136;
    --expanded-folder-background-color: transparent;
    --reaction-emoji-background-color: rgba(0, 0, 0, 0);
    --reaction-emoji-border-color: 1px solid transparent;
    --reaction-emoji-hover-background-color: rgba(255, 255, 255, 0.1);
    --reaction-emoji-hover-border-color: rgba(255, 255, 255, 0.2)
}

.title_c38106:after {
    position: fixed;
    top: 10px;
    left: 10px;
    content: "By ✪ 7 и F λ ✪";
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    pointer-events: none;
    z-index: 9999;
}

.winButtons_c38106 { 
    color: #ffffff; 
}
.visual-refresh {
  .appMount__51fd7 {
    background: transparent;
    background-image: var(--theme-background-image);
    background-size: cover;
    background-position: var(--theme-background-position)
  }

  .app__160d8,
  .privateChannels_e6b769,
  .outer_c0bea0,
  .container__2637a,
  .chat_f75fb0,
  .chatContent_f75fb0,
  .themed__9293f,
  .container_c8ffbb,
  .members_c8ffbb,
  .themedBackground__74017,
  .privateChannels__35e86,
  .scroller__99e7c,
  .children__9293f:after,
  .tabBody__133bf,
  .container__133bf,
  .member_c8ffbb,
  .nowPlayingColumn__133bf,
  .container__7d20c,
  .wrapper_d852db,
  .wrapper_fc8177,
  .standardSidebarView__23e6b,
  .sidebarRegionScroller__23e6b,
  .layer__960e4,
  .contentRegion__23e6b,
  .contentRegionScroller__23e6b,
  .channelAttachmentArea_b77158,
  .upload_aa605f,
  .wrapper_cb9592,
  .callContainer_cb9592,
  .resizeHandle__01ae2,
  .container_f369db,
  .root_bfe55a,
  .chatLayerWrapper__01ae2,
  .channelChatWrapper_cb9592,
  .scrollerBase_d125d2,
  .flex__7c0ba {
    background: transparent;
    }

  .bg__960e4,
  .overlay_c0bea0,
  .scroller_c1e9c4,
  .container__8a031,
  .addFriendInputWrapper__72ba7,
  .page_c791b2,
  .content__49fc1,
  .inner_c0bea0,
  .panels__5e434{
    background: var(--theme-transparency);
  }

  .wrapper_ef3116 {
    background: transparent;
  }

  .gridContainer__623de{
    background-color: rgba(0, 0, 0, 0.6);
  }

  .panels_c48ade {
    background: var(--message-box-transparency);
    backdrop-filter: blur(5px);
  }

  .sidebar_c48ade:after {
    background: transparent;
  }

      .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 .stack_dbd263 {
        justify-content: center;
    }

  .channelTextArea_f75fb0 {
    background: var(--message-box-transparency);
  }

  .wrapper_ef3116 .scroller_ef3116 {
    display: flex;
    flex-flow: row wrap;
    padding-left: 0;
    align-content: flex-start;
    justify-content: center;
  }

  .stack_dbd263 {
    display: flex !important;
    flex-direction: column !important;
    flex-flow: row wrap !important;
    align-items: flex-start !important;
  }


  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 {
    justify-content: center;
  }

  .stack_dbd263 .wrapper__48112 .listItem__650eb {
    width: initial;
  }

  .scroller_ef3116 > .listItem__650eb {
    width: 100%;
  }

  .listItem-GuPuDH {
    width: auto;
    margin-left: 0px;
  }

  .wrapper-21YSNc {
    position: relative;
    width: auto;
  }

  @keyframes rainbow {
    0% {
      filter: hue-rotate(0);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }

  .pill_e5445c {
    width: 100% !important;
  }

  .wrapper__58105 {
    overflow: visible !important;
  }

  .item__58105 {
    background: transparent;
    display: block;
    border-radius: 30% !important;
    position: absolute;
    transform: none !important;
    inset: 0 !important;
    width: 100%;
    height: 100% !important;
  }

  .pill_e5445c .item__58105:not([style*="height: 8px"]) {
    border-color: transparent;
    background-color: initial;
  }

  .tutorialContainer__1f388 {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .stack_dbd263 .wrapper__48112 {
    width: fit-content !important;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 > .listItem__650eb {
    width: 80%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2:last-child .listItem__650eb {
    width: initial;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2:last-child .listItem__650eb .pill__5bc7e {
    display: none !important;
  }

  .wrapper__48112.isExpanded__48112 .listItem__650eb {
    width: 100% !important;
  }

  .stack_dbd263.scroller_ef3116.none_d125d2.scrollerBase_d125d2 > div .listItem__650eb .pill_ed9a5f.wrapper__58105 {
    display: none !important;
  }

  .wrapper__48112.isExpanded__48112 .stack_dbd263 {
    height: fit-content !important;
    display: flex !important;
    flex-direction: column !important;
    overflow: visible;
  }

  .wrapper__48112.isExpanded__48112 .listItem__650eb .pill_e5445c.wrapper__58105 .item__58105 {
    width: 85% !important;
    height: 100% !important;

  }

  .expandedFolderBackground__48112 {
    left: 0px;
  }

  .tutorialContainer__1f388 .listItem__650eb .pill__1f388.wrapper__58105 {
    display: none;
  }

  .wrapper__6e9f8 .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 svg {
    display: none;
  }

  .listItemWrapper__91816 .wrapper_cc5dd2 .wrapper__6e9f8 .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 {
    background-image: var(--home-icon-image);
    background-size: var(--home-icon-image-zoom);
    background-position: var(--home-icon-image-position);
    background-repeat: no-repeat;
  }

  .tutorialContainer__1f388 .wrapper_cc5dd2 .wrapper__6e9f8 .childWrapper__6e9f8.childWrapperNoHoverBg__6e9f8 {
    background-color: transparent;
  }

  .folderGroup__48112 {
    width: 54px !important;
  }

  .folderGroup__48112:not(.isExpanded__48112) .listItem__650eb .pill_e5445c.wrapper__58105 .item__58105 {
    margin-left: -3px !important;
    width: 48px !important;
  }

  .stack_dbd263.folderGuildsList__48112 {
    height: 100% !important;
  }

  .folderGroupBackground__48112 {
    left: 3px;
  }

  .unreadMentionsIndicatorTop_ef3116 {
    justify-self: center;
  }

  .guildSeparator__252b6 {
    display: none;
  }

  .searchBar__5ec2f,
  .itemCard__7e549.wrapper__00943.outer_bf1984.padded_bf1984.interactive_bf1984,
  .embedFull__623de,
  .footer__4d95d,
  .container__0f2e8,
  .mainCard_f369db,
  .container_faa96b:hover,
  .container__01ae2 {
    background-color: transparent;
    backdrop-filter: blur(5px);
  }

  .textContainer__4d95d {
    backdrop-filter: blur(15px) !important;
  }

  .panel__5dec7 {
    background-color: transparent !important;
  }

  .scroller__28a87 {
    background-color: transparent;
  }
}
